extends parts/layout

block content
  .image-field
    svg.image-field__inner.js-image(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 479.88 244.98' version="1.1")
      title only-person
      g(style='isolation:isolate')
        //image(width='2666', height='1361', transform='scale(.18)', xlink:href='images/elements/only-person1.png')
        ////image(width='500', height='144', transform='matrix(.18 0 0 .18 389.88 177.12)', xlink:href='images/elements/only-person2.png')
        ////image(width='437', height='609', transform='matrix(.18 0 0 .18 388.44 78.12)', xlink:href='images/elements/only-person3.png')
        image.highlight(width='232', height='626', transform='matrix(.18 0 0 .18 385.38 74.7)', xlink:href='images/elements/only-person4.png')
        image.highlight(width='258', height='274', transform='matrix(.18 0 0 .18 424.08 86.04)', xlink:href='images/elements/only-person5.png')
        ////image(width='747', height='129', transform='matrix(.18 0 0 .18 44.46 202.68)', xlink:href='images/elements/only-person6.png')
        ////image(width='331', height='938', transform='matrix(.18 0 0 .18 38.7 42.66)', xlink:href='images/elements/only-person7.png')
        image.highlight(width='362', height='971', transform='matrix(.18 0 0 .18 35.64 39.96)', xlink:href='images/elements/only-person8.png')
        image.highlight(width='261', height='113', transform='matrix(.18 0 0 .18 42.04 192.4)', xlink:href='images/elements/only-person9.png')
        ////image(width='540', height='130', transform='matrix(.18 0 0 .18 311.58 193.68)', xlink:href='images/elements/only-person10.png')
        ////image(width='231', height='682', transform='matrix(.18 0 0 .18 297.36 74.7)', xlink:href='images/elements/only-person11.png')
        image.highlight(width='266', height='719', transform='matrix(.18 0 0 .18 293.94 71.28)', xlink:href='images/elements/only-person12.png')
        image.highlight(width='262', height='494', transform='matrix(.18 0 0 .18 294.66 71.28)', xlink:href='images/elements/only-person14.png')
        image.highlight(width='164', height='237', transform='matrix(.18 0 0 .18 305.46 115.2)', xlink:href='images/elements/only-person13.png')
        image.highlight(width='173', height='371', transform='matrix(.18 0 0 .18 296.28 133.92)', xlink:href='images/elements/only-person15.png')
        ////image(width='807', height='133', transform='matrix(.18 0 0 .18 316.44 194.04)', xlink:href='images/elements/only-person16.png')
        ////image(width='485', height='768', transform='matrix(.18 0 0 .18 324 64.08)', xlink:href='images/elements/only-person17.png')
        //image.highlight(width='518', height='804', transform='matrix(.18 0 0 .18 320.58 60.84)', xlink:href='images/elements/only-person18.png')
        image.highlight(width='322', height='474', transform='matrix(.18 0 0 .18 340.92 77.94)', xlink:href='images/elements/only-person19.png')
        image.highlight(width='518', height='155', transform='matrix(.18 0 0 .18 320.58 177.66)', xlink:href='images/elements/only-person20.png')
        ////image(width='444', height='180', transform='matrix(.18 0 0 .18 399.96 185.04)', xlink:href='images/elements/only-person21.png')
        ////image(width='314', height='372', transform='matrix(.18 0 0 .18 405.54 135.36)', xlink:href='images/elements/only-person22.png')
        image.highlight(width='350', height='408', transform='matrix(.18 0 0 .18 402.3 132.12)', xlink:href='images/elements/only-person23.png')
        image.highlight(width='350', height='407', transform='matrix(.18 0 0 .18 402.3 132.12)', xlink:href='images/elements/only-person24.png')
        image.highlight(width='114', height='163', transform='matrix(.18 0 0 .18 402.3 176.22)', xlink:href='images/elements/only-person25.png')
        ////image(width='789', height='1143', transform='matrix(.18 0 0 .18 114.3 39.06)', xlink:href='images/elements/only-person26.png')
        image.highlight(width='385', height='1033', transform='matrix(.18 0 0 .18 117.18 35.82)', xlink:href='images/elements/only-person27.png')
        image.highlight(width='278', height='192', transform='matrix(.18 0 0 .18 132.3 186.84)', xlink:href='images/elements/only-person28.png')
        ////image(width='510', height='281', transform='matrix(.18 0 0 .18 279.72 176.94)', xlink:href='images/elements/only-person29.png')
        //image.highlight(width='532', height='287', transform='matrix(.18 0 0 .18 277.92 174.06)', xlink:href='images/elements/only-person30.png')
        image.highlight(width='226', height='241', transform='matrix(.18 0 0 .18 333 180.9)', xlink:href='images/elements/only-person31.png')
        image.highlight(width='119', height='128', transform='matrix(.18 0 0 .18 331.74 199.62)', xlink:href='images/elements/only-person32.png')
        image.highlight(width='203', height='279', transform='matrix(.18 0 0 .18 302.58 174.06)', xlink:href='images/elements/only-person33.png')
        image.highlight(width='234', height='224', transform='matrix(.18 0 0 .18 277.92 185.4)', xlink:href='images/elements/only-person34.png')
        ////image(width='690', height='161', transform='matrix(.18 0 0 .18 196.38 216)', xlink:href='images/elements/only-person35.png')
        ////image(width='444', height='673', transform='matrix(.18 0 0 .18 182.7 106.38)', xlink:href='images/elements/only-person36.png')
        image.highlight(width='481', height='707', transform='matrix(.18 0 0 .18 179.28 102.78)', xlink:href='images/elements/only-person37.png')
        image.highlight(width='481', height='704', transform='matrix(.18 0 0 .18 179.28 102.78)', xlink:href='images/elements/only-person38.png')
        image.highlight(width='427', height='243', transform='matrix(.18 0 0 .18 185.76 186.84)', xlink:href='images/elements/only-person39.png')
        ////image(width='473', height='142', transform='matrix(.18 0 0 .18 93.42 219.42)', xlink:href='images/elements/only-person40.png')
        ////image(width='398', height='762', transform='matrix(.18 0 0 .18 72.9 91.62)', xlink:href='images/elements/only-person41.png')
        ////image(width='126', height='121', transform='matrix(.18 0 0 .18 84.6 92.34)', xlink:href='images/elements/only-person42.png', style='mix-blend-mode:soft-light')
        ////image(width='330', height='619', transform='matrix(.18 0 0 .18 72.9 110.34)', xlink:href='images/elements/only-person43.png', style='mix-blend-mode:overlay')
        ////image(width='268', height='406', transform='matrix(.18 0 0 .18 85.5 153.54)', xlink:href='images/elements/only-person44.png', style='mix-blend-mode:overlay')
        ////image(width='283', height='591', transform='matrix(.18 0 0 .18 73.26 91.62)', xlink:href='images/elements/only-person45.png', style='mix-blend-mode:overlay')
        ////image(width='127', height='126', transform='matrix(.18 0 0 .18 121.5 203.58)', xlink:href='images/elements/only-person46.png')
        ////image(width='400', height='762', transform='matrix(.18 0 0 .18 72.54 91.26)', xlink:href='images/elements/only-person47.png')
        ////image(width='326', height='735', transform='matrix(.18 0 0 .18 72.9 91.62)', xlink:href='images/elements/only-person48.png')
        ////image(width='214', height='525', transform='matrix(.18 0 0 .18 91.62 132.3)', xlink:href='images/elements/only-person49.png', style='mix-blend-mode:multiply')
        ////image(width='128', height='125', transform='matrix(.18 0 0 .18 84.06 91.44)', xlink:href='images/elements/only-person50.png')
        ////image(width='32', height='17', transform='matrix(.18 0 0 .18 93.24 220.14)', xlink:href='images/elements/only-person51.png')
        ////image(width='31', height='18', transform='matrix(.18 0 0 .18 125.1 199.8)', xlink:href='images/elements/only-person52.png')
        image.highlight(width='261', height='178', transform='matrix(.18 0 0 .18 88.92 196.38)', xlink:href='images/elements/only-person53.png')
        ////image(width='289', height='81', transform='matrix(.18 0 0 .18 155.34 228.06)', xlink:href='images/elements/only-person54.png')
        ////image(width='268', height='158', transform='matrix(.18 0 0 .18 149.4 209.88)', xlink:href='images/elements/only-person55.png')
        ////image(width='266', height='176', transform='matrix(.18 0 0 .18 149.4 209.34)', xlink:href='images/elements/only-person56.png')
        image.highlight(width='580', height='243', transform='matrix(.18 0 0 .18 117.18 198.54)', xlink:href='images/elements/only-person57.png')
