.clothes-image
  position: relative

  &__inner
    display block
    background-image: url(../images/background.jpg)
    background-size: 100%

  &__highlight
    opacity: 0
    transition $AT

    &.is-active
      opacity: 1

  &__caption
    visibility: hidden
    opacity: 0
    transition $AT

    &.is-active
      visibility: visible
      opacity: 1

  &__controls
    position: absolute
    top: 100px
    left: 0
    right: 0
    text-align: center

  &__button
    link-reset()
    color: white
    border-bottom 1px dotted
    font-weight: 700
    display: inline-block
    transition $AT

    &:hover
      border-color rgba(white, 0)
      
    &.is-active
      color: black
