.image-field
  &__inner
    display block
    background-image: url(../images/background.jpg)
    background-size: 100%

  .highlight
    opacity 0
    cursor pointer
    transition .3s

    &:hover
    &.hover
      opacity 1
