@require "partials/fonts.styl"
@require "mixins/variables.styl"
@require "mixins/layout.styl"
@require "partials/sprite.styl"

*
  &
  &:before
  &:after
    box-sizing border-box

html
  color #3b4356
  background #fff
  font-size 10px
  font-family 'Circe'

body
  font-size: 1.4rem

html, body
  height 100%

.container
  width $contentWidth
  margin 0 auto
  position relative

@require "partials/**/*.styl"
@require "parts/**/*.styl"
